
#bingo-board {
    width: 50vw;    
    aspect-ratio: 1 / 1;
    background-color: green;
    border-radius: 10vh;
    border: solid gray 10px;
    overflow: hidden;
    border-collapse: separate;
    border-spacing: 0;
}

.bingo-tile {
    background-color: orange;
    padding: 5px;
    font-weight: bold;
    width: 20%;
    height: 20%;
    border: black solid 2px;
}

.bingo-tile img {
    width: 70%;
}

.bingo-tile p {
    width: 70%;
}



@media (orientation: portrait) {

}