/* main.css - Header and Footer sizing & formatting */

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.caveat-brush-font {
  font-family: "Caveat Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* Header section */
header {
    /* position: absolute; */
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    padding: 10px;
    align-items: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media (max-width: 400px) {
    header {
        height: 3rem;
    }
    header h1 {
        display: none;
    }
}

/* Main sections */
main {
    flex-grow: 13;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* Footer section */
footer {
    flex-grow: 1;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 15px;
}

#login-section {
    flex: 5;
    height: 70%;
    padding: 20px;
    border-radius: 10%;
}

.filler {
    flex: 1;
    background-color: green;
}